* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*this will be used for the background color */
:root{
    --light: white;
}

header{
    color: black;
    text-align: left;
    margin-left: 70px;
    background-color: var(--light);  
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

/*All hovered elements color:silver except for Footer and Nav which are Black */
header:hover{
    color: silver;
}


body {
    background-color: var(--light);
    overflow-x: hidden;
}

nav {
    text-align: left;
    margin-left: 60px;
    background-color: var(--light);
    display: inline-block;
    list-style: none;
    
}

nav a:hover {
    color: black;
}

li {
    display:inline-block;
    margin: 10px; ;
    background-color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
}

ul li a {
    text-decoration: none;
    color: silver;
    display: inline-block;
}

h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

h2:hover{
    color: silver;
}

/* Titles in each section */
.about, .work, .contact{
    color: grey;
    text-align: left;
    background-color: var(--dark);
    padding: 50px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Display for various devices */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; 
    }

    .images,
    .avatar,
    .projects {
        flex: none; 
        width: 100%;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.avatar img{
    flex: 1;
    display: block; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 150px;
    width: 220px;
    display: inline-block;
}

/*First display images and About images */
.images{
    flex: 1;
    display: block;
    padding: 50px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 100px;
}

.images img:hover{
    filter: opacity(0.5);
}

.images img{
    width: 100%; 
    height: auto;
    display: inline-block;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}

/*Images under Project section */
.projects{
    flex: 1;
    display: block;
    padding: 70px;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.projects img{
        flex: 1;
        display: block;
        display: flex;
       
      
}
.projects img:hover{
    filter: opacity(0.5);
}

#hyperlink img:hover{
    filter: opacity(0.5);
}


footer{
    color: grey;
    text-align: center;
    background-color: var(--dark);
    padding: 10px;
    font-size: 80%;
    margin-left: 40px;
}

/*Footer only section with Black hover*/
footer:hover{
    color: black;   
}






