* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --light: white;
}


header {
    color: black;
    text-align: left;
    margin-left: 70px;
    background-color: var(--light);  
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

header:hover{
    color: silver;
}

body {
    background-color: var(--light);
    overflow-x: hidden;
}

nav {
    text-align: left;
    margin-left: 60px;
    background-color: var(--light);
    display: inline-block;
    list-style: none;
    width: 100%;
}

nav a:hover {
    color: black;
}

li {
    display:inline-block;
    margin: 10px; ;
    background-color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
}

ul li a {
    text-decoration: none;
    color: silver;
    display: inline-block;
}

h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

h2:hover{
    color: silver;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.images{
    flex: 1;
    display: block;
    padding: 50px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 100px;
    max-width: 100%; 
    height: auto;
}

.avatar img{
    flex: 1;
    display: block; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 150px;
    width: 220px;
    display: inline-block;
}

.projects1{
    
        flex: 1;
        display: block;
        display: flex;
        justify-content: center; 
        align-items: center;
        margin-left: 150px;
    
}

.projects2{
    
    flex: 1;
    display: block;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 150px;
}

.images img:hover {
    filter: opacity(0.5);
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; 
    }

    .images {
        flex: none; 
        width: 100%;
    }
}


.about, .work, .contact{
    color: grey;
    text-align: left;
    background-color: var(--dark);
    padding: 50px;
    margin-left: 50px;
}


.concrete img,
.images img{

    width: 100%; 
    height: auto;
    display: inline-block;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}


#hyperlink{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#hyperlink:visited{
    color: inherit;
}

#hyperlink:hover{
    color: black;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    color: grey;
    text-align: center;
    background-color: var(--dark);
    padding: 10px;
    font-size: 80%;
    margin-left: 40px;
}

footer:hover{
    color: black;   
}






